@font-face {
  font-family: 'icomoon';
  src:  url('icomoon16d5.eot?czpsth');
  src:  url('icomoon16d5.eot?czpsth#iefix') format('embedded-opentype'),
    url('icomoon16d5.ttf?czpsth') format('truetype'),
    url('icomoon16d5.woff?czpsth') format('woff'),
    url('icomoon16d5.svg?czpsth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.homsys-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homsys-people:before {
  content: "\e900";
}
.homsys-target:before {
  content: "\e901";
}
.homsys-human-resources:before {
  content: "\e902";
}
.homsys-arrow-left-long:before {
  content: "\e903";
}
.homsys-twitter:before {
  content: "\e904";
}
.homsys-hospital:before {
  content: "\e905";
}
.homsys-money:before {
  content: "\e906";
}
.homsys-apple:before {
  content: "\e907";
}
.homsys-user-plus:before {
  content: "\e908";
}
.homsys-diamond:before {
  content: "\e909";
}
.homsys-map-pin-fill:before {
  content: "\e90a";
}
.homsys-play-circular:before {
  content: "\e90b";
}
.homsys-arrow-pointing-to-right:before {
  content: "\e90c";
}
.homsys-arrow-pointing-to-left:before {
  content: "\e90d";
}
.homsys-user:before {
  content: "\e90e";
}
.homsys-login:before {
  content: "\e90f";
}
.homsys-android-logo:before {
  content: "\e910";
}
.homsys-resume-document:before {
  content: "\e911";
}
.homsys-paper:before {
  content: "\e912";
}
.homsys-coding:before {
  content: "\e913";
}
.homsys-office:before {
  content: "\e914";
}
.homsys-clock-hours:before {
  content: "\e915";
}
.homsys-company-workers:before {
  content: "\e916";
}
.homsys-graphic:before {
  content: "\e917";
}
.homsys-support:before {
  content: "\e918";
}
.homsys-pen:before {
  content: "\e919";
}
.homsys-search-papper:before {
  content: "\e91a";
}
.homsys-handshake:before {
  content: "\e91b";
}
.homsys-office-building:before {
  content: "\e91c";
}
.homsys-check-square:before {
  content: "\e91d";
}
.homsys-arrow-right-circular-fill:before {
  content: "\e91e";
}
.homsys-arrow-down-circular-fill:before {
  content: "\e91f";
}
.homsys-building:before {
  content: "\e920";
}
.homsys-curriculum:before {
  content: "\e921";
}
.homsys-user-line-double:before {
  content: "\e922";
}
.homsys-discuss-issue:before {
  content: "\e923";
}
.homsys-newspaper:before {
  content: "\e924";
}
.homsys-fax:before {
  content: "\e925";
}
.homsys-placeholder:before {
  content: "\e926";
}
.homsys-linkedin-fill:before {
  content: "\e927";
}
.homsys-facebook:before {
  content: "\e928";
}
.homsys-summary:before {
  content: "\e929";
}
.homsys-calendar-line:before {
  content: "\e92a";
}
.homsys-heart-fill:before {
  content: "\e92b";
}
.homsys-check-box-fill:before {
  content: "\e92c";
}
.homsys-check-box-empty:before {
  content: "\e92d";
}
.homsys-checked:before {
  content: "\e92e";
}
.homsys-linkedin:before {
  content: "\e92f";
}
.homsys-user-circular:before {
  content: "\e930";
}
.homsys-star-empty:before {
  content: "\e931";
}
.homsys-upload:before {
  content: "\e932";
}
.homsys-plus-circular:before {
  content: "\e933";
}
.homsys-credit-card-line:before {
  content: "\e934";
}
.homsys-star-fill:before {
  content: "\e935";
}
.homsys-right-arrow-long:before {
  content: "\e936";
}
.homsys-credit-card:before {
  content: "\e937";
}
.homsys-time:before {
  content: "\e938";
}
.homsys-folder:before {
  content: "\e939";
}
.homsys-group:before {
  content: "\e93a";
}
.homsys-linkedin-circular:before {
  content: "\e93b";
}
.homsys-twitter-circular:before {
  content: "\e93c";
}
.homsys-facebook-circular:before {
  content: "\e93d";
}
.homsys-internet:before {
  content: "\e93e";
}
.homsys-calendar:before {
  content: "\e93f";
}
.homsys-view:before {
  content: "\e940";
}
.homsys-rubbish:before {
  content: "\e941";
}
.homsys-edit:before {
  content: "\e942";
}
.homsys-resume-user:before {
  content: "\e943";
}
.homsys-logout:before {
  content: "\e944";
}
.homsys-multimedia:before {
  content: "\e945";
}
.homsys-id-card:before {
  content: "\e946";
}
.homsys-alarm:before {
  content: "\e947";
}
.homsys-briefcase-time:before {
  content: "\e948";
}
.homsys-resume:before {
  content: "\e949";
}
.homsys-google-plus-circular-fill:before {
  content: "\e94a";
}
.homsys-add:before {
  content: "\e94b";
}
.homsys-download-arrow:before {
  content: "\e94c";
}
.homsys-technology:before {
  content: "\e94d";
}
.homsys-envelope-line:before {
  content: "\e94e";
}
.homsys-trophy:before {
  content: "\e94f";
}
.homsys-design-skills:before {
  content: "\e950";
}
.homsys-degree-cap:before {
  content: "\e951";
}
.homsys-network:before {
  content: "\e952";
}
.homsys-user-line:before {
  content: "\e953";
}
.homsys-briefcase:before {
  content: "\e954";
}
.homsys-social-media:before {
  content: "\e955";
}
.homsys-salary:before {
  content: "\e956";
}
.homsys-check-circular-fill:before {
  content: "\e957";
}
.homsys-sort:before {
  content: "\e958";
}
.homsys-envelope:before {
  content: "\e959";
}
.homsys-add-list:before {
  content: "\e95a";
}
.homsys-squares:before {
  content: "\e95b";
}
.homsys-list:before {
  content: "\e95c";
}
.homsys-up-arrow:before {
  content: "\e95d";
}
.homsys-right-arrow:before {
  content: "\e95e";
}
.homsys-instagram-circular-fill:before {
  content: "\e95f";
}
.homsys-linkedin-circular-fill:before {
  content: "\e960";
}
.homsys-dribbble-circular-fill:before {
  content: "\e961";
}
.homsys-twitter-circular-fill:before {
  content: "\e962";
}
.homsys-facebook-circular-fill:before {
  content: "\e963";
}
.homsys-play-button:before {
  content: "\e964";
}
.homsys-arrow-right-circular:before {
  content: "\e965";
}
.homsys-arrow-left-circular-fill:before {
  content: "\e966";
}
.homsys-two-quotes:before {
  content: "\e967";
}
.homsys-left-quote:before {
  content: "\e968";
}
.homsys-filter-tool-black-shape:before {
  content: "\e969";
}
.homsys-map-pin:before {
  content: "\e96a";
}
.homsys-heart:before {
  content: "\e96b";
}
.homsys-business:before {
  content: "\e96c";
}
.homsys-fast-food:before {
  content: "\e96d";
}
.homsys-books:before {
  content: "\e96e";
}
.homsys-antenna:before {
  content: "\e96f";
}
.homsys-hospital2:before {
  content: "\e970";
}
.homsys-accounting:before {
  content: "\e971";
}
.homsys-car:before {
  content: "\e972";
}
.homsys-engineer:before {
  content: "\e973";
}
.homsys-search:before {
  content: "\e974";
}
.homsys-down-arrow:before {
  content: "\e975";
}
.homsys-location:before {
  content: "\e976";
}
.homsys-briefcase-line:before {
  content: "\e977";
}
.homsys-arrow-up-circular:before {
  content: "\e978";
}
.homsys-upload-arrow:before {
  content: "\e979";
}
.homsys-arrow-right-fill:before {
  content: "\ea3c";
}
.homsys-arrow-left:before {
  content: "\ea40";
}
.homsys-arrow-right-bold:before {
  content: "\eaef";
}
.homsys-arrow-right:before {
  content: "\eb2d";
}
.homsys-list-sign:before {
  content: "\eb44";
}
.homsys-grid-square:before {
  content: "\eb45";
}
.homsys-arrow-right-light:before {
  content: "\eb60";
}
.homsys-map-location-pin:before {
  content: "\eb6e";
}
.homsys-check-mark:before {
  content: "\eb73";
}
.homsys-map-pin-square:before {
  content: "\eb76";
}
.homsys-edit-tool:before {
  content: "\eb7d";
}
.homsys-building-office:before {
  content: "\eb92";
}
